<!DOCTYPE html>
<html>

<head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>H&#173;o&#173;ly Un&#173;blo&#173;ck&#173;er | Error</title>
    <meta name="description" content="Ho&#173;ly Gren&#173;a&#173;d&#173;e is a we&#173;bs&#173;ite se&#173;ar&#173;ch en&#173;gi&#173;ne th&#173;at he&#173;lp&#173;s yo&#173;u ge&#173;t pa&#173;st a bl&#173;oc&#173;ke&#173;r. wi&#173;th ma&#173;ny di&#173;ff&#173;er&#173;re&#173;nt we&#173;bs&#173;it&#173;es it is th&#173;e be&#173;st pr&#173;ox&#173;y ev&#173;er!"
    />
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#434c5e">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="assets/css/styles.css">
    <script defer="defer" src="https://cdn.jsdelivr.net/npm/tsparticles@1.39.2/tsparticles.min.js" integrity="sha256-FCz5ToEA27payrGYaVGRidiIA+68Z31TBXFzcIT1/gU=" crossorigin="anonymous"></script>
</head>

<body>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <div id="particles-js" class="fullwidth"></div>
    <div id="mainbody" class="fullwidth">
        <div class="box-error text-center">
            <h1>Site Error!</h1>
            <p>Might be doing some maintenance or the web server is down.</p>
            <p>In that case wait a bit until it is resolved!</p>
            <br>
            <p>Invalid URL? View the <a href="/?faq" class="bluelink">FAQ page</a> for help!</p>
        </div>
    </div>
    <div id="footer" class="fullwidth"></div>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <script src="assets/js/csel.js"></script>
    <script src="assets/js/footer.js"></script>
    <script src="assets/js/particlesjs/particles.js"></script>
</body>

</html>
